
Back/src/revisorBackProject/__pycache__/__init__.cpython-37.pyc

Back/src/revisorBackProject/__pycache__/settings.cpython-37.pyc

Back/src/revisorBackProject/__pycache__/

Back/src/fiche/__pycache__/

Back/src/.idea/

Back/src/fiche/migrations/__pycache__/
