<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card-container">
        <form class="card-content">
          <h1>Créer votre carte</h1>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="sheet-title-input" placeholder="Entrez un titre"
              (keyup)="onKeyTitle($event)" value={{sheetTitle}}>
          </div>


          <div class="sheet-content">
            <ckeditor (change)="onChangeEditor($event)" [data]="editorData"></ckeditor>
          </div>
          <form (ngSubmit)="submitPhoto()">
            <input type="file" accept="image/*" (change)="updateSource($event)" (onChange)="getFile($event)">
            <button type="submit">Upload</button>
          </form>
          <button type="submit" class="btn btn-primary card-submit">Créer la carte</button>
        </form>
      </div>
    </div>

    <div class="col">
      <br />

      <h1>Apercu</h1>
      <br />
      <br />
      <div class="card-container-apercu card-container-apercu-background">
        <form class="card-content">
          <div class="sheet-content">
            <div class="row">
              <img class="preview-image padding-right" *ngIf="source" [src]="source" src="">
              <h2 class="title-card">{{sheetTitle}}</h2>
              <br />
            </div>
            <div id="cardContent" class=""></div>
          </div>
          <div class="footer">
            <p> <b>Date de création: </b>{{actualDate}}</p>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>