.card-container-apercu
    background-color: bisque
    padding: 0px

.card-container
    background-color: lightGrey
    border-radius: 50px

.card-content
    padding: 50px

.sheet-content

.padding-right
    padding-right: 30px
.card-submit
    margin-top: 30px

.preview-image
    max-width: 200px
    max-height: 200px

.card-footer
    background-color: bisque
    text-align: right