<div class="bar-long"></div>

<div class="container-fluid" (scroll)="setPercentage($event)">
    <br />
    <div class=" card-container-apercu card-container-apercu-background" id="cardContainer" style="margin:150px">
    <form class="card-content">
        <div class="sheet-content">
            <div class="row">
                <img class="preview-image padding-right" *ngIf="source" [src]="source" src="">
                <h2 class="title-card">Python</h2>
                <br />
            </div>
            <div class="row">
                <div class="col-2">
                    <ul>
                        <li>Ceci est un titre 1</li>
                        <li>Ceci est un titre 2</li>
                    </ul>
                </div>
                <div id="cardContent" class="col-10">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet nisl at odio aliquam
                        mattis. Sed eleifend massa ut odio fermentum aliquam. Curabitur eleifend arcu in justo
                        semper iaculis. Sed malesuada gravida scelerisque. Maecenas luctus dictum purus sed
                        porttitor. Nam maximus orci vel odio venenatis feugiat. Morbi non sapien a lectus facilisis
                        pretium nec a eros. Cras dignissim mollis feugiat. Nam pretium elit sit amet urna finibus
                        bibendum. Integer auctor pulvinar molestie. Curabitur blandit dapibus odio vel suscipit.
                        Suspendisse nec elit id metus congue vulputate consectetur cursus mauris. Nunc non nisl ut
                        lacus hendrerit hendrerit. Quisque lobortis pretium fermentum. Donec pellentesque commodo
                        lacinia. Praesent lobortis eros et tellus laoreet ullamcorper.

                        Nulla ullamcorper mattis velit sit amet cursus. Ut semper augue vitae erat imperdiet
                        faucibus. Maecenas id commodo arcu. Donec scelerisque fringilla erat vel aliquet. Proin et
                        faucibus dui. Ut eu eros vel velit semper ultricies. Nunc orci est, malesuada et neque eu,
                        posuere malesuada purus. Proin rhoncus tellus nulla, nec dignissim dolor feugiat ac. Sed
                        semper tincidunt odio, et molestie metus tempus id. Aenean venenatis consectetur libero.
                        Phasellus nec vestibulum velit. Nunc sit amet egestas nulla. Pellentesque convallis, velit
                        quis porta molestie, ipsum neque rhoncus risus, in convallis enim justo ut libero. Nam
                        venenatis gravida purus eu facilisis.

                        Integer ex est, porttitor eget neque at, viverra sollicitudin augue. Donec eu dui eget lacus
                        elementum rhoncus. Vivamus molestie ullamcorper semper. Etiam enim ex, molestie aliquam
                        lorem dignissim, dignissim porta odio. Sed posuere quis erat id tristique. Vivamus a ligula
                        pulvinar eros ultricies pretium eu a quam. Sed faucibus felis turpis, at vehicula nisl
                        semper a.

                        Ut faucibus nisi nec consectetur ornare. Donec tempus faucibus arcu, id feugiat dolor
                        interdum at. Sed gravida, dui in cursus tincidunt, sem metus aliquam neque, ac faucibus
                        risus dui non purus. In efficitur rutrum commodo. Quisque consectetur porttitor ultricies.
                        Donec efficitur aliquet consectetur. In cursus nec mauris id malesuada.

                        Mauris nec risus et purus suscipit finibus. Vestibulum gravida hendrerit lorem, quis euismod
                        lorem vehicula non. Maecenas orci lectus, tincidunt sit amet rhoncus nec, malesuada eu
                        lectus. Etiam quam mi, facilisis ac odio a, suscipit sagittis leo. Mauris malesuada arcu
                        velit, quis luctus nunc tincidunt nec. Duis dapibus rhoncus lacus et venenatis. Aliquam
                        hendrerit, massa quis efficitur bibendum, dui magna convallis mauris, laoreet scelerisque
                        justo purus ut lorem. Curabitur blandit dapibus nibh, varius viverra lorem. Maecenas varius,
                        purus posuere sollicitudin dictum, enim enim aliquam elit, eget dictum tellus libero vel
                        erat. Suspendisse rutrum leo odio, in maximus neque cursus quis.</h1>
                </div>
            </div>

        </div>
        <div class="footer">
            <p> <b>Date de création: </b>{{actualDate}}</p>
        </div>
    </form>

</div>