<div class="bar-long"></div>

<div (scroll)="setPercentage($event)">
    <div class="row">
        <div class="col-2 anchor-titles">
            <ul>
                <li>Ceci est un titre 1</li>
                <li>Ceci est un titre 2</li>
            </ul>
        </div>
        <div class="col-9 container-fluid card-container-apercu card-container-apercu-background">
            <form class="card-content">
                <div class="sheet-content">
                    <div class="row">
                        <img class="preview-image padding-right" *ngIf="source" [src]="source" src="">
                        <h2 class="title-card">Python</h2>
                        <br />
                    </div>
                    <div id="cardContent" class="">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit, magna nec scelerisque
                        tincidunt, enim sapien blandit lacus, sit amet mattis odio purus non arcu. Ut in risus at nisl
                        malesuada cursus sit amet eu justo. Nulla facilisis vitae magna nec faucibus. Aliquam in urna
                        lectus. Morbi nec lorem aliquam, interdum dui at, mollis nibh. Aenean viverra convallis diam,
                        quis iaculis velit laoreet vel. Cras laoreet vestibulum justo, eu ornare velit facilisis et.
                        Aliquam ullamcorper est arcu, in blandit orci auctor sed. Cras laoreet dolor lacinia dui aliquam
                        eleifend. Ut eros eros, iaculis vel malesuada non, consequat ac nibh. Vivamus non metus sit amet
                        ligula blandit laoreet laoreet non tellus. Donec sodales laoreet nisl, sed lobortis neque semper
                        vel. Sed egestas nisl vel libero placerat sodales. Etiam aliquet pharetra nibh non sagittis.
                        Cras est ipsum, venenatis non nisl sit amet, consequat egestas est. In neque dolor, semper non
                        rhoncus congue, cursus ut dolor.

                        Donec at suscipit tortor, in mollis eros. Class aptent taciti sociosqu ad litora torquent per
                        conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Duis suscipit diam
                        tortor, in volutpat diam vulputate id. Integer volutpat nisl sit amet erat semper, vitae
                        lobortis metus sollicitudin. Suspendisse potenti. Fusce vel risus a ex dictum ultricies sed in
                        ex. Donec ullamcorper condimentum mauris tincidunt facilisis. Sed non arcu scelerisque,
                        venenatis ligula vitae, facilisis justo. Morbi turpis dolor, tempor vel purus sit amet, maximus
                        vehicula augue. Integer tortor sapien, convallis at ligula non, hendrerit fermentum justo.
                        Curabitur congue augue a facilisis sagittis. Curabitur sit amet elementum enim. Proin lobortis
                        eros vitae maximus vehicula. In facilisis pharetra nisi non efficitur. Aenean sit amet
                        ullamcorper diam.

                        Aenean mollis convallis enim, quis volutpat ex maximus sit amet. Nulla urna erat, mattis non
                        odio a, vulputate pharetra erat. Aenean eu egestas mi. Nunc eleifend turpis a sem placerat,
                        vitae condimentum ex suscipit. Aenean tincidunt sem ante, ut bibendum ligula ultrices id.
                        Vivamus maximus nibh at ultrices posuere. Etiam porta efficitur neque id pulvinar. Maecenas non
                        elit eu nibh congue placerat id a lacus. Cras mattis est in malesuada efficitur. Phasellus eu
                        volutpat eros. Cras blandit odio purus, et feugiat quam luctus et.

                        Morbi eros velit, mattis et turpis in, tempus fermentum ante. Proin sit amet eros in velit
                        gravida volutpat. Phasellus dictum, nisi non interdum ultricies, tortor sapien accumsan mauris,
                        ut condimentum dui sapien congue erat. Ut sed finibus risus. Integer at eros rhoncus, auctor
                        erat et, iaculis felis. Proin massa quam, dictum ut facilisis ut, scelerisque quis diam. Sed
                        egestas vehicula mattis. Morbi tincidunt, massa quis mollis posuere, tellus leo semper nunc, a
                        lacinia nisi massa sit amet enim. Cras libero augue, ornare et nisl vel, tristique sodales
                        lectus. Donec risus arcu, rhoncus sed massa at, egestas vehicula neque.

                        Duis lobortis odio eget elementum commodo. Nam neque ipsum, maximus eu risus quis, mollis
                        ultrices quam. Vestibulum auctor a ligula vitae dapibus. Ut consectetur posuere nisl posuere
                        blandit. Nullam luctus leo et convallis hendrerit. Pellentesque nulla est, tristique id mauris
                        vel, molestie elementum ex. Donec consequat vitae mi eget rutrum. Donec a consequat augue,
                        efficitur sodales enim. Morbi aliquet risus eget eros commodo sodales. Vestibulum volutpat lorem
                        ut semper dictum. Vestibulum semper metus nec facilisis consectetur. Suspendisse potenti. Sed
                        imperdiet rutrum nunc suscipit blandit. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Nam lacinia faucibus ex, eleifend pulvinar urna faucibus eu. Vivamus et accumsan arcu,
                        eget fermentum mauris.
                    </div>
                </div>
                <div class="footer">
                    <p> <b>Date de création: </b>{{actualDate}}</p>
                </div>
            </form>
        </div>