<div class="container-fluid">
    <br />
    <!-- {{fiches}} -->
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let fiche of fiches | async">
            <div class="card">
                <div class="view">
                    <div><img src="{{fiche.fields.image}}" class="card-img-top" alt="photo"></div>
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{fiche.fields.titre}}</h4>
                    <p class="card-text">{{fiche.fields.text}}</p>
                    <a href="/fiche/{{fiche.pk}}" class="btn btn-primary">Consulter</a>
                </div>
            </div>
        </div>
    </div>
</div>